<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleSecurityExtension</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>$(EXECUTABLE_NAME) v$(MODULE_VERSION), Copyright © 2018年 Zhong-Mac. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MODULE_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(MODULE_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>KextsPatcher</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOMatchCategory</key>
			<string>$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>KextsConfig</key>
			<dict>
				<key>Patches</key>
				<array>
					<dict>
						<key>Count</key>
						<integer>1</integer>
						<key>Find</key>
						<data>a3Bzaes=</data>
						<key>MinKernel</key>
						<integer>13</integer>
						<key>Name</key>
						<string>AppleHDA</string>
						<key>Replace</key>
						<data>Y2ltaes=</data>
					</dict>
					<dict>
						<key>Count</key>
						<integer>1</integer>
						<key>Find</key>
						<data>AAQAAAQDAAAAAQMAEgQDAwAEAAAEAwAAAAEBABECAQEABAAABAMAAAABAgAhAwICAAQAAAQDAAAAAQQAIgUEBAAEAAAEAwAAAAEFABAABQUABAAABAMAAAABBgAgAQYG</data>
						<key>MaxKernel</key>
						<integer>14</integer>
						<key>MinKernel</key>
						<integer>13</integer>
						<key>Name</key>
						<string>AMD8000Controller</string>
						<key>Replace</key>
						<data>AAQAAAQDAAAAAQAAEgQDAQAIAAAEAgAAAHEAACIFAQMEAAAAFAAAAAABAAABAgIEBAAAABQAAAAAAQAAAAAEBgAEAAAEAwAAAAEAABAABQUABAAABAMAAAABAAAgAQYC</data>
					</dict>
					<dict>
						<key>Count</key>
						<integer>1</integer>
						<key>Find</key>
						<data>AAQAAAQDAAAAAQMAEgQDAwAEAAAEAwAAAAEBABECAQEABAAABAMAAAABAgAhAwICAAQAAAQDAAAAAQQAIgUEBAAEAAAEAwAAAAEFABAABQUABAAABAMAAAABBgAgAQYG</data>
						<key>MaxKernel</key>
						<integer>15</integer>
						<key>MinKernel</key>
						<integer>15</integer>
						<key>Name</key>
						<string>AMD8000Controller</string>
						<key>Replace</key>
						<data>AAQAAAQDAAAAAQAAEgQDAQAIAAAEAgAAAHEAACIFAQMEAAAAFAAAAAABAAABAgIEBAAAABQAAAAAAQAAAAAEBgAEAAAEAwAAAAEAABAABQUABAAABAMAAAABAAAgAQYC</data>
					</dict>
					<dict>
						<key>Count</key>
						<integer>1</integer>
						<key>Find</key>
						<data>AAQAAAQDAAAAAQMAAAAAABIEAwMAAAAAAAQAAAQDAAAAAQEAAAAAABECAQEAAAAAAAQAAAQDAAAAAQIAAAAAACEDAgIAAAAAAAQAAAQDAAAAAQQAAAAAACIFBAQAAAAAAAQAAAQDAAAAAQUAAAAAABAABQUAAAAAAAQAAAQDAAAAAQYAAAAAACABBgYAAAAA</data>
						<key>MinKernel</key>
						<integer>16</integer>
						<key>Name</key>
						<string>AMD8000Controller</string>
						<key>Replace</key>
						<data>AAQAAAQDAAAAAQMAAAAAABIEAwEAAAAAAAQAAAQDAAAAAQEAAAAAAAECAQQAAAAAAAQAAAQDAAAAAQIAAAAAACEDAgIAAAAAAAQAAAQDAAAAAQQAAAAAACIFBAMAAAAAAAQAAAQDAAAAAQUAAAAAAAAABQYAAAAAAAQAAAQDAAAAAQYAAAAAACABBgUAAAAA</data>
					</dict>
				</array>
				<key>Kexts</key>
				<dict>
					<key>AMD8000Controller</key>
					<dict>
						<key>Detect</key>
						<true/>
						<key>Id</key>
						<string>com.apple.kext.AMD8000Controller</string>
						<key>Loaded</key>
						<true/>
						<key>Paths</key>
						<array>
							<string>/System/Library/Extensions/AMD8000Controller.kext/Contents/MacOS/AMD8000Controller</string>
						</array>
						<key>Reloadable</key>
						<true/>
					</dict>
					<key>AppleHDA</key>
					<dict>
						<key>Detect</key>
						<true/>
						<key>Id</key>
						<string>com.apple.driver.AppleHDA</string>
						<key>Paths</key>
						<array>
							<string>/System/Library/Extensions/AppleHDA.kext/Contents/MacOS/AppleHDA</string>
						</array>
						<key>Reloadable</key>
						<true/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018年 Zhong-Mac. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
